.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header h1 {
  font-weight: 800;
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
}

.headerOption {
  display: flex;
  flex: 1;
  justify-content: center;
}

.logo {
  z-index: 1;

  @media screen and (max-width: 600px) {
    width: 200px;
  }
}

.downArrow {
  width: 50px;
  height: 50px;
  background: transparent;
  color: #fff;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.content {
  background: #121212;
  @media screen and (max-width: 600px) {
    width: 100%;
  }
  @media screen and (min-width: 600px) {
    width: 80%;
  }
  flex: 1;
  padding: 4rem;
  margin: 2;
}
